
  <div class="card">
   <div class="card-img-wrapper">
    <img class="card-img-top" src="assets/images/House1.jpg">
    <ul class="list-inline text-centre member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i> </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i></button>
      </li>
    </ul>
   </div>

  <div class="card-body p-2">
    <h3>{{propertyData.Name}}</h3>
    <h3>{{propertyData.Type}}</h3>
    <h3>{{propertyData.Price}}</h3>
  </div>
</div>


